@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ready to start your baby on solid food?</h1>
    <p>Weaning is a big and important milestone in every child's life. Whatever your feeding philosophy is, exposure to a wide variety of foods is not only important to your child's health, but also fun!</p>
    <p>Use this program to
        <ul>
            <li>find inspiration on what to foods to offer</li>
            <li>lorem ipsum</li>
        </ul>
    </p>
</div>
